{
  "hooks": {
    "pre-commit": "lint-staged"
  }
}

// enable husky after git
// https://medium.com/yavar/setting-up-a-eslint-prettier-husky-and-lint-staged-integration-with-typescript-in-next-js-13-14-68044dfae920